<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write new Chat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h3>Write New Chat</h3>
    <form method="post" action="/chats">
        <input placeholder="who are you?" name="from" class="btn" id="in"><br><br>
        <textarea name="message" class="text">Write your message</textarea><br><br>
        <input placeholder="add reciever" name="to" class="btn" id="in"><br><br> 
        <button class="btn">Create Chat</button>
    </form>
    
</body>
</html>